

.form_container{
    margin: 20 20;
   border:2px solid ;
   border-radius: 5px;
   background: linear-gradient(135deg, $light-blue1, $light-blue2); 
}
 
.form-group-add{
     margin: 10 10 10 10;
 }

.pad{
    padding: 0 10 0 0;
}
  
 .err{
     color: $red;
     line-height: 10px;
 }
 

 

 
