$off-black : #20222b;
$off-white :  #a5afd7;
$off-blue :  #333745;
$blue :  #3c4251;
$light-blue :  #464b5e;
$purple :  #8357c5;
$s-size: 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$h-size : 4.8rem;


$off-blue : rgb(130, 190, 190);
$black : black;
$blue: rgb(14, 222, 233);
//$blue: rgb(0, 204, 255);
$light-green :rgb(181, 240, 181);
$light-red:rgb(245, 137, 137);
$red: red;
$gray: #425c64;
$whitesmoke: whitesmoke;
$light-blue1:rgb(171, 218, 230);
$light-blue2:rgb(10, 207, 241);
$light-blue3: rgb(0, 204, 255);
$light-blue4: rgb(13, 119, 192);
$light-blue5:rgb(62, 155, 218);
$off-cyan:rgb(22, 79, 126);


